.card{
    margin-top: 20px;
}

.card-header{
    background-color: thistle;
}
.card-block{
    padding:20px;
}

body{
    background-color: antiquewhite;
}


.name-box {
    padding: 10px;
    margin: 10px;
    display: inline-block;
}